* {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* height : 90vh; */
  display: flex;
  /* justify-content: center; */
  /* flex-direction: column; */
  flex-direction: column;
  justify-content: center;
  /* margin: 2% 0 8% 0 2%; */
  padding-bottom: 4%;
  align-items: center;
  background: #0052d4; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #0052d4,
    #279AF1
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
li {
  list-style-type: none;
}

#contenedor {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: center; */
  gap: 48px;
  margin-bottom: 4rem;
}

#titulo-app {
  color: azure;
  background-color: #00012b;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 20rem;
  height: 20rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: height 0.8s !important;
}

.card-titulo {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.card-subtitulo {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.2rem;
}

.subtitulo-1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card-temp {
  font-weight: 400;
  font-size: 1rem;
}

.card-info {
  text-decoration: underline;
  padding-bottom: 1rem;
}

#caja1 {
  /* background-color: rgba(0, 0, 0, 0.777); */
  background-color: #494850;
  color: azure;
  height: 14rem;
}
#caja2 {
  /* background-color: rgba(21, 12, 80, 0.777); */
  background-color: #00012b;
  color: azure;
  height: 16rem;
}
#caja3 {
  /* background-color: rgba(0, 90, 70, 0.777); */
  /* background-color: #9A7AA0; */
  background-color: #7B506F;
  color: azure;
}
#caja4 {
  background-color: rgb(60, 76, 86);
  color: azure;
  height: 21rem;
}
#icono-viento-direccion {
  background-color: azure;
  padding: 4px;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.icono-aire {
  width: fit-content;
  padding: 3px;
  /* padding-top: 1%; */
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  /* margin-bottom: 8px; */
  border-radius: 10px;
  border-color: white;
  border-width: 10px;
}
/* .buena { */
/*   color: #fff; */
/* } */
#buena-icono {
  background-color: #54c18b;
}
#aceptable-icono {
  background-color: #9eebc5;
}
#moderada-icono {
  background-color: #f0e3a6;
}
#pobre-icono {
  background-color: #dca33d;
}
#muy-pobre-icono {
  background-color: #dc4957;
}
#mas-informacion-aire {
  cursor: pointer;
}
#mas-informacion-temp {
  cursor: pointer;
}

#card-info-lista {
  background-color: rgb(60, 76, 86);
  /* margin-top: 4px; */
  border-radius: 10px;
  visibility: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

#card-info-lista-temp {
  /* background-color:#061931; */
  /* background-color: rgba(0, 0, 0, 0.777); */
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  visibility: hidden;
}
.card-temp-ampliada {
  height: 22rem !important;
  transition: 0.8s;
}
.card-temp-reducida {
  height: 14rem !important;
  transition: all 0.8s;
}
.card-aire-ampliada {
  transition: all 0.8s;
  height: 22rem !important;
}
.card-aire-reducida {
  height: 20rem;
  transition: all 0.8s;
}

.card-info-lista-visible {
  visibility: visible !important;
  /* transition: all 1s; */
  /* height: fit-content; */
}

.card-info-lista-temp-visible {
  visibility: visible !important;
  /* transition: all 1s; */
}

@media (max-width: 840px) {
  body {
    /* height: 110vh; */
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #titulo-app {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #contenedor {
    display: flex;
    flex-direction: column;
  }
  .card {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-top: 6%;
    /* width: 25rem; */
    /* height: 20rem; */
    /* min-width: 90%; */
    /* height: fit-content; */
  }
}
@media (max-width: 600px) {
  body {
    /* height: 110vh; */
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #titulo-app {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

#icono-viento-direccion {
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}

  #contenedor {
    display: flex;
    flex-direction: column;
  }
  .card {
    display: inline-block;
    text-align: center;
    padding-top: 2rem;
    width: 18rem;
    height: 16rem;
    /* height: 18rem; */
    /* max-width: 90%; */
  }
  .card-temp-reducida {
    height: 18rem;
  }
  .card-aire-reducida {
    height: 12rem;
  }

  .card-titulo {
    font-size: 1.6rem;
  }
  .card-subtitulo {
    font-size: 1rem;
  }
}
#caja3 {
  height: 20rem;
}
